#term {
  background-color: black;
  opacity: 0.8;
  width: 94%;
  height: 95%;
  position: absolute;
  top: 2%;
  left: 3%;
  border: 2px solid;
  border-color: black;
  -ms-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
}
